@import "../../styles/fonts.css";

huge-leader {
  height: 80vh;
  display: block;
  background: lightblue;
  position: relative;
}

huge-leader h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: 120px/132px HUGEAvantGardeBold;
  letter-spacing: -0.06em;
  text-align: center;
}

@media only screen and (max-width:768px){
  huge-leader h1 {
      font-size: 44px;
      line-height: 49px;
    }
}

@media only screen and (min-width:1017px) and (max-width:1384px){
  huge-leader h1 {
      font-size: 100px;
      line-height: 120px;
    }
}

@media only screen and (min-width:847px) and (max-width:1017px){
  huge-leader h1 {
      font-size: 100px;
      line-height: 120px;
    }
}

@media only screen and (min-width:828px) and (max-width:847px){
  huge-leader h1 {
      font-size: 80px;
      line-height: 100px;
    }
}

@media only screen and (min-width:793px) and (max-width:828px){
  huge-leader h1 {
      font-size: 60px;
      line-height: 80px;
    }
}

@media only screen and (min-width:768px) and (max-width:793px){
  huge-leader h1 {
      font-size: 50px;
      line-height: 60px;
    }
}
