@import "fonts.css";

body {
  background: white;
  color: black;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif;
}

main {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}
