@import "fonts.css";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: white;
  color: black;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif;
}

main {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

main p {
  font-size: 24px;
  line-height: 36px;
  text-indent: 24px;
}

.chevron {
    display: block;
    width: .7em;
    height: .9em;
    position: relative;
}

.chevron:before,
.chevron:after {
    display:block;
    content:"";
    width:0;
    height:0em;
    border-style:solid;
    position:absolute;
}
.chevron:before {
    right:0;
    border-width:.5em 0 .5em .5em;
    border-color:transparent transparent transparent red;
}
.chevron:after {
    left:0;
    border-width:.5em 0 .5em .5em;
    border-color:transparent transparent transparent #fff;
}

@media only screen and (max-width:768px){
  main p {
    font-size: 14px;
    line-height: 24px;
  }
}
