@import "../../styles/fonts.css";

/**
 * General styling for the navbar
 **/
[huge-nav] {
  background: #ec008c;
  color: #fff;
  height: 60px; /** def $navbar-height **/
}

[huge-nav] a {
  color: #fff;
  text-decoration: none;
}

[huge-nav] huge-primary-nav {
  display: block;
  margin: 0;
  position: relative;
  z-index: 100;
}

[huge-nav] [huge-primary-nav] {
  display: block;
  float: left;
  list-style-type: none;
  margin: 0;
  padding-left: 12px;
}

[huge-nav] [huge-nav-item] {
  cursor: pointer;
  display: block;
  float: left;
  margin-left: -5px;
  overflow: visible;
  padding: 20px 24px;
  position: relative;
}

[huge-nav] [huge-nav-item]:hover {
  background: white;
  color: #ec008c;
}

[huge-nav] [huge-nav-item] > a {
  font-size: 21px;
  font-family: HUGEAvantGardeBold;
}

[huge-nav] [huge-nav-item]:hover > a {
  background: white;
  color: #ec008c;
}

huge-primary-nav > h1 {
  display: block;
  float: left;
  font-family: HUGEAvantGardeBold;
  font-size: 21px;
  line-height: 60px; /** $navbar-height **/
  margin: 0px;
  padding-left: 24px;
  padding-right: 24px;
}

[huge-nav] .hamburger-close-nav, [huge-nav] .chevron {
  display: none;
}

[huge-nav] footer {
  display: none;
}

/**
 * Secondary nav styling
 **/
[huge-nav-item] [huge-secondary-nav] {
  background: white;
  color: black;
  display: block;
  float: left;
  font-size: 16px;
  font-family: Galaxie;
  left: 0;
  line-height: 48px;
  padding-left: 0;
  position: absolute;
  visibility: hidden;
  top: 60px; /** $navbar-height **/
  z-index: 100;
}

[huge-nav][active]:after {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  content: ' ';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 10;
}

[huge-nav-item]:hover [huge-secondary-nav] {
  visibility: visible;
}

[huge-secondary-nav] a {
  color: black;
  padding: 12px 24px;
}

[huge-secondary-nav] li {
  display: block;
  height: 48px;
  white-space: nowrap;
}

[huge-secondary-nav] li:hover, [huge-secondary-nav] li:hover a {
  color: #ec008c;
  background: #eee;
}


/**
 * Styling for the hamburger version of the nav
 **/

@media only screen and (max-width:768px){
  /* styles for browsers narrower than 768px; */
  huge-primary-nav > h1 {
    margin-top: -60px;
  }

  [huge-nav] footer {
    background: white;
    bottom: 16px;
    color: black;
    display: table-row;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-top: 16px;
    width: 100%;
    z-index: 100;
  }

  [huge-nav] .chevron {
    display: block;
    float: right;
    transform: rotate(90deg);
    transition: transform 0.5s ease;
  }
  [huge-nav] huge-primary-nav {
    background: white;
    bottom: 0px;
    display: table;
    min-height: 100%;
    top: 60px;
    width: calc(100% - 72px);
  }

  [huge-nav] [huge-primary-nav] {
    background: white;
    bottom: 0;
    color: black;
    display: table-row;
    height: 100%;
    min-height: 90vh;
    padding-left: 0;
    padding-top: 12px;
    top: 60px; /** 100% - $navbar-height **/
    width: 100%;
    z-index: 100;
  }

  [huge-nav] huge-primary-nav {
    transform: translate(-100%, 0);
    transition: all 500ms ease-in-out;
  }

  [huge-nav][nav-open] huge-primary-nav {
    transform: translate(0, 0);
    transition: all 500ms ease-in-out;
  }

  [huge-nav] [huge-nav-item] {
    display: block;
    margin-left: 0;
    padding: 12px 0;
    width: 100%;
  }
  [huge-nav] [huge-nav-item]:hover {
  }

  [huge-nav] [huge-nav-item]:hover .chevron {
    transform: rotate(-90deg);
  }

  [huge-nav] [huge-nav-item] > a {
    color: black;
    display: block;
    padding-left: 24px;
    padding-right: 12px;
  }

  [huge-nav] [huge-nav-item] [huge-secondary-nav] {
    float: none;
    height: 0px;
    position: static;
  }

  [huge-nav] [huge-secondary-nav] li {
    padding-left: 24px;
    padding-right: 24px;
  }

  [huge-nav] [huge-secondary-nav] a {
    padding-left: 0;
  }

  [huge-nav] [huge-nav-item]:hover [huge-secondary-nav] {
    height: auto;
  }

  [huge-nav] [huge-nav-item]:hover [huge-secondary-nav] li:first-of-type {
    margin-top: 12px;
  }

  /**
   * Hamburger/Close icon styling
   **/
  [huge-nav] .hamburger-close-nav, [huge-nav] .hamburger-close-nav:before, [huge-nav] .hamburger-close-nav:after {
    background: white;
    content: '';
    cursor: pointer;
    display: block;
    height: 4px;
    position: absolute;
    width: 24px;
    z-index: 1001;
  }

  [huge-nav] .hamburger-close-nav {
    top: calc(20px + 8px);
    left: 24px;
  }

  [huge-nav] .hamburger-close-nav:before {
    top: -7px; 
  }

  [huge-nav] .hamburger-close-nav:after {
    top: 7px;
  }

  [huge-nav] .hamburger-close-nav, [huge-nav] .hamburger-close-nav:before, [huge-nav] .hamburger-close-nav:after {
    transition: all 500ms ease-in-out;
  }

  [huge-nav][nav-open] .hamburger-close-nav {
    background-color: transparent;
    left: calc(100% - 60px);
  }

  [huge-nav][nav-open] .hamburger-close-nav:before, [huge-nav][nav-open] .hamburger-close-nav:after {
    top: 0;
  }

  [huge-nav][nav-open] .hamburger-close-nav:before {
    transform: rotate(45deg);
  }

  [huge-nav][nav-open] .hamburger-close-nav:after {
    transform: rotate(-45deg);
  }
}

@media only screen and (min-width:863px) and (max-width:898px){
  [huge-nav] [huge-nav-item] {
    margin-left: -10px;
  }
}

@media only screen and (min-width:828px) and (max-width:863px){
  [huge-nav] [huge-nav-item] {
    margin-left: -15px;
  }
}

@media only screen and (min-width:793px) and (max-width:828px){
  [huge-nav] [huge-nav-item] {
    margin-left: -20px;
  }
}

@media only screen and (min-width:768px) and (max-width:793px){
  [huge-nav] [huge-nav-item] {
    margin-left: -25px;
  }
}
