@import "fonts.css";

/**
 * General styling for the navbar
 **/
[huge-nav] {
  background: #ec008c;
  color: #fff;
  height: 60px; /** def $navbar-height **/
}

[huge-nav] a {
  color: #fff;
  text-decoration: none;
}

[huge-nav] [huge-primary-nav] {
  display: block;
  float: left;
  margin: 0;
  padding-left: 12px;
  list-style-type: none;
}

[huge-nav] [huge-nav-item] {
  display: block;
  float: left;
  padding: 20px 24px;
  cursor: pointer;
  margin-left: -5px;
  position: relative;
  overflow: visible;
}

[huge-nav] [huge-nav-item]:hover {
  background: white;
  color: #ec008c;
}

[huge-nav] [huge-nav-item] > a {
  font-size: 21px;
  font-family: HUGEAvantGardeBold;
}

[huge-nav] [huge-nav-item]:hover > a {
  background: white;
  color: #ec008c;
}

[huge-nav] > h1 {
  display: block;
  float: left;
  margin: 0px;
  line-height: 60px; /** $navbar-height **/
  padding-left: 24px;
  padding-right: 24px;
  font-family: HUGEAvantGardeBold;
  font-size: 21px;
}

[huge-nav] .close-nav, [huge-nav] .chevron {
  display: none;
}

[huge-nav] footer {
  display: none;
}

/**
 * Secondary nav styling
 **/
[huge-nav-item] [huge-secondary-nav] {
  display: block;
  float: left;
  position: absolute;
  visibility: hidden;
  background: white;
  color: black;
  padding-left: 0;
  z-index: 100;
  left: 0;
  top: 60px; /** $navbar-height **/
  line-height: 48px;
  font-size: 16px;
  font-family: Galaxie;
}

[huge-nav][active]:after {
  content: ' ';
  display: block;
  position: absolute;
  z-index: 10;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

[huge-nav-item]:hover [huge-secondary-nav] {
  visibility: visible;
}

[huge-secondary-nav] a {
  color: black;
  padding: 12px 24px;
}

[huge-secondary-nav] li {
  display: block;
  height: 48px;
  white-space: nowrap;
}

[huge-secondary-nav] li:hover, [huge-secondary-nav] li:hover a {
  color: #ec008c;
  background: #eee;
}


/**
 * Styling for the hamburger version of the nav
 **/

[huge-nav][hamburger-menu] {
}

[huge-nav][hamburger-menu] footer {
  color: black;
  position: absolute;
  bottom: 0px;
  z-index: 100;
  margin-left: 24px;
  font-size: 12px;
}

[huge-nav][hamburger-menu] .close-nav {
  display: inline-block;
  float: right;
  cursor: pointer;
  margin: 0px;
  line-height: 60px; /** $navbar-height **/
  padding-left: 24px;
  padding-right: 24px;
  font-size: 21px;
}

[huge-nav][hamburger-menu] .chevron {
  display: block;
  float: right;
  transform: rotate(90deg);
  transition: transform 0.5s ease;
}

[huge-nav][hamburger-menu] > h1 {
}

[huge-nav][hamburger-menu] [huge-primary-nav] {
  display: block;
  color: black;
  position: absolute;
  z-index: 100;
  width: calc(100% - 72px);
  background: white;
  top: 60px; /** 100% - $navbar-height **/
  bottom: 0;
  padding-left: 0;
  padding-top: 12px;
}

[huge-nav][hamburger-menu] [huge-nav-item] {
  display: block;
  width: 100%;
  margin-left: 0;
  padding: 12px 0;
}
[huge-nav][hamburger-menu] [huge-nav-item]:hover {
}

[huge-nav][hamburger-menu] [huge-nav-item]:hover .chevron {
  transform: rotate(-90deg);
}

[huge-nav][hamburger-menu] [huge-nav-item] > a {
  color: black;
  padding-left: 24px;
  padding-right: 12px;
  display: block;
}

[huge-nav][hamburger-menu] [huge-nav-item] [huge-secondary-nav] {
  position: static;
  float: none;
  height: 0px;
}

[huge-nav][hamburger-menu] [huge-secondary-nav] li {
  padding-left: 24px;
  padding-right: 24px;
}

[huge-nav][hamburger-menu] [huge-secondary-nav] a {
  padding-left: 0;
}

[huge-nav][hamburger-menu] [huge-nav-item]:hover [huge-secondary-nav] {
  height: auto;
}

[huge-nav][hamburger-menu] [huge-nav-item]:hover [huge-secondary-nav] li:first-of-type {
  margin-top: 12px;
}
